# =========================
# Folder Directories
# =========================
PLOTS_DIR=./path/to/plots
TUNING_LOGS_DIR=./path/to/logs/tuning
TRAINING_LOGS_DIR=./path/to/logs/training
TUNING_CHECKPOINTS_DIR=./path/to/checkpoints/tuning
TRAINING_CHECKPOINTS_DIR=./path/to/checkpoints/training

# =========================
# File Paths
# =========================
LAST_TUNE_METADATA_FILE=./path/to/last_tune_metadata.json
LAST_TRAIN_METADATA_FILE=./path/to/last_train_metadata.json

CONFIG_FILE=./path/to/config.yaml

MORTALITAS_FILE=./path/to/mortalitas.csv
POPULASI_FILE=./path/to/populasi.csv
BI_RATE_FILE=./path/to/bi_rate.csv

# =========================
# Optuna Storage DB
# =========================
OPTUNA_DB_URL=sqlite:///path/to/optuna_study.db