# Folder directories
PLOTS_DIR=YOUR_PLOTS_DIR_PATH_HERE
TENSORBOARD_LOGS_DIR=YOUR_TENSORBOARD_LOGS_DIR_PATH_HERE
CSV_LOGS_DIR=YOUR_CSV_LOGS_DIR_PATH_HERE
BEST_MODEL_CHECKPOINTS_DIR=YOUR_BEST_MODEL_CHECKPOINTS_DIR_PATH_HERE

# File paths
LAST_RUN_METADATA_FILE=YOUR_LAST_RUN_METADATA_FILE_PATH_HERE
CONFIG_FILE=YOUR_CONFIG_FILE_PATH_HERE

MORTALITAS_FILE=YOUR_MORTALITAS_FILE_PATH_HERE
POPULASI_FILE=YOUR_POPULASI_FILE_PATH_HERE
BI_RATE_FILE=YOUR_BI_RATE_FILE_PATH_HERE